@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Orbitron:wght@800&display=swap");
:root {
  --magenta: #e000b3;
  --smoke: #181818;
  --grey: #7a7c8b;
  --light_grey: #9b9da7;
  --sun: #ffad12;
  --white: #fff;
  --black: #0a0a0a;
  --sunset: linear-gradient(to right, #ffad12, #ff7c3c, #ff4960, #ff1482);
}

body {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* ! Layout */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  margin-bottom: 150px;
  padding: 0px 10%;
}
.rows {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.columns {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 120px;
  flex-direction: column;
  text-align: center;
}

/*! Text */

.logo {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--white);
  font-size: 28px;
}

.hero {
  font-weight: 700;
  font-style: normal;
  font-size: clamp(40px, 8vw, 96px);
  text-align: center;
}

.subHero {
  font-size: 24px;
}

.subHead {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.gradient-text {
  background: var(--sunset);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ! Buttons and Links */
button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.btn-lg {
  padding: 15px 35px;
  font-size: medium;
  color: white;
  border-radius: 100px;
  border: none;
}

.btn-sm {
  padding: 7px 20px;
  font-size: medium;
  color: white;
  border-radius: 100px;
}

.gradient-bg {
  background: var(--sunset);
}

.white-outline {
  border: 1px solid var(--white);
  background: transparent;
}

.btn-lg:hover,
.btn-sm:hover {
  background: var(--white);
  color: var(--black);
  transform: translateY(-3px);
  transition: 0.5s ease;
}

/* ! Keyframes and Their Classes */
.fadeIn {
  animation: 2s fadeIn ease;
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}
